* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  place-content: center;
  background: #EEE;
  min-height: 100vh;
  padding: 2rem;
}
body .card-wrapper {
  position: relative;
  background: white;
  justify-self: center;
  width: 100%;
  max-width: 30rem;
}
body .card-wrapper .img-cover-wrapper {
  position: relative;
  height: 30em;
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 53%);
  overflow: hidden;
}
body .card-wrapper .img-cover-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  inset: 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
body .card-wrapper .img-cover-wrapper:hover::after {
  opacity: 0;
}
body .card-wrapper .img-cover-wrapper p {
  position: absolute;
  top: calc(25% - 1em);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5ch;
  font-weight: bolder;
  z-index: 999;
}
body .card-wrapper .img-cover-wrapper:hover p {
  display: none;
}
body .card-wrapper .img-cover-wrapper .img-cover {
  filter: blur(2px);
}
body .card-wrapper .img-cover-wrapper .img-cover img {
  object-fit: cover;
  object-position: center;
  transition: height 0.5s ease;
}
body .card-wrapper .img-cover-wrapper .img-cover:hover img {
  height: 55%;
}
body .card-wrapper .img-cover-wrapper .img-cover:hover {
  filter: blur(0px);
}
body .card-wrapper .img-cover-wrapper .img-cover img, body .card-wrapper .img-cover-wrapper .img-cover {
  width: 100%;
  height: 100%;
}
body .card-wrapper .content {
  text-align: center;
  padding: 2em;
  margin-top: -15em;
}
body .card-wrapper .content .header {
  margin-bottom: 3em;
  display: grid;
  place-content: center;
}
body .card-wrapper .content .header .profile-img {
  margin-inline: auto;
  width: 15em;
  height: 15em;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -6em;
  margin-bottom: 1em;
  border: 10px solid white;
  position: relative;
  z-index: 999;
}
body .card-wrapper .content .header .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .card-wrapper .content .header p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: small;
  font-weight: lighter;
}
body .card-wrapper .content .header p::before, body .card-wrapper .content .header p::after {
  content: "";
  display: block;
  background: linear-gradient(to left, black, white);
  height: 1px;
  width: 3em;
}
body .card-wrapper .content .header p::after {
  background: linear-gradient(to right, black, white);
}
body .card-wrapper .content .skills-sections {
  display: grid;
  justify-content: center;
  padding: 1em;
  border-top: 1px solid #DDD;
}
body .card-wrapper .content .skills-sections .skills-items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  display: flex;
  margin-top: 0.4rem;
  margin-inline: auto;
  gap: 0.5em;
}
body .card-wrapper .content .skills-sections .skills-items p {
  border: 1px solid purple;
  display: inline-block;
  padding: 0.3em 0.4rem;
  position: relative;
}
body .card-wrapper .content .skills-sections .skills-items p:hover {
  background: purple;
  color: white;
}
body .card-wrapper .content .skills-sections .skills-items p::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #EEE;
  inset: 0;
  padding: 0.5rem;
  transform: rotate(4deg);
}
body .card-wrapper .content .social-links {
  padding: 1em;
}
body .card-wrapper .content .social-links a {
  color: black;
}
body .card-wrapper .content .social-links .fab {
  display: inline-block;
  font-size: 1.6em;
  margin-inline: 0.2em;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
body .card-wrapper .content .social-links .fab:hover {
  opacity: 1;
}
body .card-wrapper .info {
  display: flex;
  margin-top: 4rem;
  text-align: center;
  place-content: center;
}
body .card-wrapper .info > * {
  text-align: center;
  padding-inline: 1em;
}
body .card-wrapper .info > *:not(:last-child) {
  border-right: 1px solid #DDD;
}
body .card-wrapper .info > * h1 {
  margin-top: 0.3em;
}
body .card-wrapper .info > * h3 {
  color: #003049;
}
body .card-wrapper .fa-cog {
  position: absolute;
  font-size: 1.6rem;
  top: 7em;
  right: 0.5em;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease;
}
body .card-wrapper .fa-cog:hover {
  color: #DDD;
}
body .fa-angle-up {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  font-size: 3ch;
  display: none;
}
body dialog {
  border: none;
  padding: 1em;
  display: none;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  body {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
