* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #EEE;
  width: 100%;
  max-width: 768px;
  margin-inline: auto;
  padding: 1em;
  display: grid;
}
.wrapper .card-wrapper {
  position: relative;
  width: 25rem;
  background: white;
  justify-self: center;
}
.wrapper .card-wrapper .img-cover-wrapper {
  position: relative;
  height: 30em;
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 53%);
  overflow: hidden;
}
.wrapper .card-wrapper .img-cover-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  inset: 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.wrapper .card-wrapper .img-cover-wrapper:hover::after {
  opacity: 0;
}
.wrapper .card-wrapper .img-cover-wrapper p {
  position: absolute;
  top: calc(25% - 1em);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: larger;
  font-weight: bolder;
  z-index: 999;
}
.wrapper .card-wrapper .img-cover-wrapper:hover p {
  display: none;
}
.wrapper .card-wrapper .img-cover-wrapper .img-cover {
  filter: blur(2px);
}
.wrapper .card-wrapper .img-cover-wrapper .img-cover img {
  object-fit: cover;
  object-position: center;
  transition: height 0.5s ease;
}
.wrapper .card-wrapper .img-cover-wrapper .img-cover:hover img {
  height: 55%;
}
.wrapper .card-wrapper .img-cover-wrapper .img-cover:hover {
  filter: blur(0px);
}
.wrapper .card-wrapper .img-cover-wrapper .img-cover img, .wrapper .card-wrapper .img-cover-wrapper .img-cover {
  width: 100%;
  height: 100%;
}
.wrapper .card-wrapper .content {
  text-align: center;
  padding: 2em;
  margin-top: -15em;
}
.wrapper .card-wrapper .content .header {
  margin-bottom: 3em;
  display: grid;
  place-content: center;
}
.wrapper .card-wrapper .content .header .profile-img {
  margin-inline: auto;
  width: 15em;
  height: 15em;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -6em;
  margin-bottom: 1em;
  border: 10px solid white;
  position: relative;
  z-index: 999;
}
.wrapper .card-wrapper .content .header .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wrapper .card-wrapper .content .header p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.wrapper .card-wrapper .content .header p::before, .wrapper .card-wrapper .content .header p::after {
  content: "";
  display: block;
  background: black;
  height: 1px;
  width: 5em;
}
.wrapper .card-wrapper .content .social-links {
  padding: 1em;
}
.wrapper .card-wrapper .content .social-links a {
  color: black;
}
.wrapper .card-wrapper .content .social-links .fab {
  display: inline-block;
  font-size: 1.6em;
  margin-inline: 0.2em;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
.wrapper .card-wrapper .content .social-links .fab:hover {
  opacity: 1;
}
.wrapper .card-wrapper .info {
  display: flex;
  margin-top: 2.7em;
  text-align: center;
  place-content: center;
}
.wrapper .card-wrapper .info > * {
  text-align: center;
  padding-inline: 1em;
}
.wrapper .card-wrapper .info > *:not(:last-child) {
  border-right: 1px solid #DDD;
}
.wrapper .card-wrapper .info > * h1 {
  margin-top: 0.3em;
}
.wrapper .card-wrapper .info > * h3 {
  color: #003049;
}
.wrapper .card-wrapper .fa-cog {
  position: absolute;
  font-size: 1.6rem;
  top: 7em;
  right: 0.5em;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease;
}
.wrapper .card-wrapper .fa-cog:hover {
  color: #DDD;
}

/*# sourceMappingURL=main.css.map */
