* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #EEE;
  --headers-color: #800080;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  place-content: center;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1));
  min-height: 100vh;
  padding: 2rem;
}
body .card-wrapper {
  position: relative;
  background: white;
  justify-self: center;
  width: 100%;
  max-width: 35rem;
}
body .card-wrapper .img-cover-wrapper {
  position: relative;
  height: 30em;
  clip-path: polygon(0 0, 100% 0, 100% 44%, 0 53%);
  overflow: hidden;
}
body .card-wrapper .img-cover-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  inset: 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
body .card-wrapper .img-cover-wrapper:hover::after {
  opacity: 0;
}
body .card-wrapper .img-cover-wrapper p {
  position: absolute;
  top: calc(25% - 1em);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5ch;
  font-weight: bolder;
  z-index: 999;
}
body .card-wrapper .img-cover-wrapper:hover p {
  display: none;
}
body .card-wrapper .img-cover-wrapper .img-cover {
  filter: blur(2px);
}
body .card-wrapper .img-cover-wrapper .img-cover img {
  object-fit: cover;
  object-position: center;
  transition: height 0.5s ease;
}
body .card-wrapper .img-cover-wrapper .img-cover:hover img {
  height: 55%;
}
body .card-wrapper .img-cover-wrapper .img-cover:hover {
  filter: blur(0px);
}
body .card-wrapper .img-cover-wrapper .img-cover img, body .card-wrapper .img-cover-wrapper .img-cover {
  width: 100%;
  height: 100%;
}
body .card-wrapper .content {
  text-align: center;
  padding: 2em;
  margin-top: -15em;
}
body .card-wrapper .content .header {
  margin-bottom: 2em;
  display: grid;
  place-content: center;
}
body .card-wrapper .content .header .profile-img {
  margin-inline: auto;
  width: 15em;
  height: 15em;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -6rem;
  margin-bottom: 1em;
  border: 10px solid white;
  position: relative;
  z-index: 999;
}
body .card-wrapper .content .header .profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .card-wrapper .content .header .sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: small;
  font-weight: lighter;
}
body .card-wrapper .content .header .sub-header::before, body .card-wrapper .content .header .sub-header::after {
  content: "";
  display: block;
  background: linear-gradient(to left, black, white);
  height: 1px;
  width: 3em;
}
body .card-wrapper .content .header .sub-header::after {
  background: linear-gradient(to right, black, white);
}
body .card-wrapper .content .header .buttons button {
  background: none;
  border: 1px solid purple;
  padding: 0.3em 1em;
  font: inherit;
  margin-top: 1em;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}
body .card-wrapper .content .header .buttons button::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border: 1px solid white;
  transform: rotate(4deg);
}
body .card-wrapper .content .header .buttons button:hover {
  background: purple;
  color: white;
}
body .card-wrapper .content .header .buttons button:first-child {
  margin-right: 0.5em;
}
body .card-wrapper .content .header .buttons .clicked {
  background: #f72585;
  color: white;
}
body .card-wrapper .content .social-links {
  position: relative;
  padding: 1em;
}
body .card-wrapper .content .social-links a {
  text-decoration: none;
}
body .card-wrapper .content .social-links .fab {
  display: inline-block;
  font-size: 1.6em;
  margin-inline: 0.2em;
  transform: none;
  transition: transform 0.5s ease;
}
body .card-wrapper .content .social-links .fab:hover {
  transform: rotate(360deg);
}
body .card-wrapper .content .social-links .fa-facebook-f {
  color: #385898;
}
body .card-wrapper .content .social-links .fa-github-alt {
  color: #24292f;
}
body .card-wrapper .content .social-links .fa-twitter {
  color: #1d9bf0;
}
body .card-wrapper .content .hobby-section {
  margin-top: 1em;
}
body .card-wrapper .content .hobby-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 0.5em;
  margin-bottom: 1em;
  justify-content: center;
}
body .card-wrapper .content .hobby-section ul li {
  background: linear-gradient(to top left, #f72585, #800080);
  padding: 0.5rem 1em;
  color: white;
  border-radius: 30px;
}
body .card-wrapper .content .skills-section {
  padding: 1em;
}
body .card-wrapper .content .skills-section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  list-style-type: none;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  gap: 0.5em;
  width: 20rem;
  margin-top: 0.6em;
  justify-content: center;
}
body .card-wrapper .content .skills-section ul li {
  border: 1px solid purple;
  padding: 0.3em 0.4rem;
  position: relative;
  z-index: 1;
  cursor: help;
  overflow: hidden;
  display: flex;
  place-content: center;
  place-items: center;
}
body .card-wrapper .content .skills-section ul li::before {
  content: "";
  display: block;
  position: absolute;
  background: purple;
  width: calc(100% - 0.8em);
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
  inset: 0;
  opacity: 0.5;
  transition: all 0.5s ease;
  z-index: -1;
}
body .card-wrapper .content .skills-section ul li:hover::before {
  width: 200%;
  opacity: 1;
}
body .card-wrapper .content .skills-section ul li:hover {
  color: white;
}
body .card-wrapper .content .skill-items li::after, body .card-wrapper .content .buttons button::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border: 1px solid #EEE;
  padding: 0.5em;
  transform: rotate(4deg);
}
body .card-wrapper .content .skill-items li::after {
  transform: rotate(-4deg);
}
body .card-wrapper .content .projects-section {
  margin-top: 0.4em;
  padding: 1em;
  border-top: 1px solid #DDD;
  text-align: center;
}
body .card-wrapper .content .projects-section .projects {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
body .card-wrapper .content .projects-section .projects .img-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
}
body .card-wrapper .content .projects-section .projects .img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .card-wrapper .content .projects-section .projects .img-wrapper::after {
  content: "Music Player";
  display: block;
  position: absolute;
  background: black;
  inset: 0;
  opacity: 0.5;
}
body .card-wrapper .fa-cog {
  position: absolute;
  font-size: 1.6rem;
  top: 7em;
  right: 0.5em;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease;
}
body .card-wrapper .fa-cog:hover {
  color: #DDD;
}
body dialog {
  border: none;
  padding: 1em;
  display: none;
  margin: auto;
  box-shadow: 0 0 0.1em black;
  max-width: 30ch;
  width: 100%;
}
body dialog::backdrop {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0.9));
}
body dialog span {
  color: #f72585;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  body {
    padding: 0;
  }

  .wrapper .card-wrapper .content .skills-section ul {
    width: 16rem;
  }

  .wrapper .card-wrapper .fa-cog {
    right: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    padding: 2em;
  }
}

/*# sourceMappingURL=main.css.map */
