* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #EEE;
    --headers-color: #800080;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-content: center;
    background: linear-gradient(to bottom right,rgba(0 0 0 / .7),rgba(255 255 255 / .1));
    min-height: 100vh;
    padding: 2rem;

    .card-wrapper {
        position: relative;
        background: white;
        justify-self: center;
        width: 100%;
        max-width: 35rem;
    
        .img-cover-wrapper {
            position: relative;
            height: 30em;
            clip-path: polygon(0 0, 100% 0, 100% 44%, 0 53%);
            overflow: hidden;
    
            &::after {
                content: '';
                display: block;
                position: absolute;
                background: radial-gradient(circle, rgba(0 0 0 / .1), rgba(0 0 0 / .7));
                inset: 0;
                opacity: 1;
                pointer-events: none;
                transition: opacity .5s ease;
            }
    
            &:hover::after {
                opacity: 0;
            }
    
            p {
                position: absolute;
                top: calc(25% - 1em);
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-size: 2.5ch;
                font-weight: bolder;
                z-index: 999;
            }
    
            &:hover p {
                display: none;
            }
    
            .img-cover {
                filter: blur(2px);
    
                img {
                    object-fit: cover;
                    object-position: center;
                    transition: height .5s ease;
                }
    
                &:hover img {
                    height: 55%;
                }
    
                &:hover {
                    filter: blur(0px);
                }
    
                img, & {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .social-links {
            position: absolute;
            top: 12.4rem;
            left: 0rem;
            padding: 1em;
            transform: rotate(-4deg);

            a {
                text-decoration: none;
            }

            .fab {
                display: inline-block;
                font-size: 1.6em;
                margin-inline: .2em;
                transform: none;
                transition: transform .5s ease;
                color: white;

                &:hover {
                    transform: rotate(360deg);
                }
            }

            .fa-facebook-f:hover {
                color: #385898;
            }

            /* .fa-github-alt:hover {
                // color: #24292f;
            } */

            .fa-twitter:hover {
                color: #1d9bf0;
            }
        }
    
        .content {
            text-align: center;
            padding: 2em;
            margin-top: -15em;
    
            .header {
                margin-bottom: 2em;
                display: grid;
                place-content: center;
    
                .profile-img {
                    margin-inline: auto;
                    width: 15em;
                    height: 15em;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-top: -6rem;
                    margin-bottom: 1em;
                    border: 10px solid white;
                    position: relative;
                    z-index: 999;
                    
    
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .sub-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
                    font-size: small;
                    font-weight: lighter;
    
                    &::before, &::after {
                        content: '';
                        display: block;
                        background: linear-gradient(to left, black, white);
                        height: 1px;
                        width: 3em;
                    }

                    &::after {
                        background: linear-gradient(to right, black, white);
                    }
                }

                .buttons {

                    button {
                        background: none;
                        border: 1px solid purple;
                        padding: .3em 1em;
                        font: inherit;
                        margin-top: 1em;
                        transition: all .5s ease;
                        cursor: pointer;
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            inset: 0;
                            border: 1px solid white;
                            transform: rotate(4deg);
                        }

                        &:hover {
                            background: purple;
                            color: white;
                        }

                        &:first-child {
                            margin-right: .5em;
                        }
                    }

                    .clicked {
                        background: linear-gradient(to right, purple, #f72585);
                        color: white;

                        &:hover {
                            background: linear-gradient(to right, purple, #f72585);
                        }
                    }
                }

                
            }

            .skills-section {
                padding: 1em;
                margin-top: 2rem;

                ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
                    list-style-type: none;
                    margin: 0;
                    margin-inline: auto;
                    padding: 0;
                    gap: .5em;
                    width: 20rem;
                    margin-top: .6em;
                    justify-content: center;
    
                    li {
                        border: 1px solid purple;
                        padding: .3em .4rem;
                        position: relative;
                        z-index: 1;
                        cursor: help;
                        overflow: hidden;
                        display: flex;
                        place-content: center;
                        place-items: center;
    
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            background: purple;
                            width: calc(100% - .8em);
                            clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
                            inset: 0;
                            opacity: .5;
                            transition: all .5s ease;
                            z-index: -1;
                        }
    
                        &:hover::before {
                            width: 200%;
                            opacity: 1;
                        }
    
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
    
            .skill-items li::after, .buttons button::after {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                border: 1px solid #EEE;
                padding: .5em;
                transform: rotate(4deg);
            }
    
            .skill-items li::after {
                transform: rotate(-4deg);
            }

            .hobby-section {
                margin-top: 1em;
                
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
                    margin-bottom: 1em;
                    justify-content: center;

                    li {
                        // background: #f72585;
                        padding: .5rem;
                        // color: white;
                        // border-radius: 30px;
                        // outline: 1px solid blue;

                        &::first-letter {
                            color: #666;
                        }
                    }
                }
            }
    
            .projects-section {
                margin-top: .4em;
                padding: 1em;
                border-top: 1px solid #DDD;
                text-align: center;

                .projects {
                    display: flex;
                    justify-content: center;
                    margin-top: 1rem;

                    .img-wrapper {
                        position: relative;
                        width: 15rem;
                        height: 10rem;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .project {
                        position: relative;
                        
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            inset: 0;
                            background: rgba(0 0 0 / .5);
                            pointer-events: none;
                        }

                        .title-wrapper {
                            pointer-events: none;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            color: white;
                            z-index: 2;
                            font-size: 1.5ch;
                        }
                    }
                }
            }
        }
    
        .fa-cog {
            position: absolute;
            font-size: 1.6rem;
            top: 7em;
            right: .5em;
            color: white;
            cursor: pointer;
            transition: color .5s ease;
    
            &:hover {
                color: #DDD;
            }
        }
    }

    dialog {
        border: none;
        padding: 1em;
        display: none;
        margin: auto;
        box-shadow: 0 0 .1em black;
        max-width: 30ch;
        width: 100%;

        &::backdrop {
            background: linear-gradient(to bottom right, rgba(255 255 255 / .5) 10%, rgba(0 0 0 / .9));
        }

        span {
            color: #f72585;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 425px) {
    body {
        padding: 0;
    }

    .wrapper .card-wrapper .content .skills-section ul {
        width: 16rem;
    }

    .wrapper .card-wrapper .fa-cog {
        right: 2rem;
    }

    .wrapper .card-wrapper .social-links {
        transform: none;
        top: 9em;
        left: 1.5rem;
        padding: 0;

        .fab {
            display: block;
            margin-bottom: .5rem;

            &:not(:last-child) {
                color: red;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding: 2em;
    }
}